name: Serverless Deployement

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      - uses: vishwasnavadak/serverless-sample@master

      - name: npm install dependencies
        run: npm install
        
      - name: Serverless
        uses: serverless/github-action@v1.53.0
        with:
          args: deploy
      
#       - name: Cache the node_modules
#         uses: actions/cache@v1.0.3
#         with:
#           path: 
          
       
