name: Serverless Deployement

on:
  push:
    branches:
      - master

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - name: npm install
        run: npm install

  deploy:
    name: deploy
    runs-on: ubuntu-latest

    steps:
      - name: serverless deploy
        uses: serverless/github-action@master

        with:
          args: deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
